1 VERSIONINFO
FILEVERSION 4, 0, 3, 17
PRODUCTVERSION 3, 0, 0, 0
FILEFLAGSMASK 0
FILEOS 0x40000
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Mohammed Sameer"
   VALUE "FileDescription", "Katoob is a light weight, multi lingual, BIDI-aware text editor"
   VALUE "FileVersion", "0.3.5"
   VALUE "InternalName", "Katoob"
   VALUE "LegalCopyright", "GNU Public License"
   VALUE "OriginalFilename", "katoob.exe"
   VALUE "ProductName", "Katoob"
   VALUE "ProductVersion", "0.3.5"
  }
 }
}

AppIcon ICON pixmaps/katoob.ico
